/*START CALCULATOR TAB*/

/*Selected Tab Focus Indicator*/
.tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-border-insets: -6 -9 -8 -8, -5 -8 -7 -7;
}

/*Header Area For Tabs*/
.tab-header-area .tab{
    -fx-padding:4 10 5 10;
    -fx-background-radius: 0;
}
.tab-header-background {
    -fx-background-color:transparent
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0em 0.5em 0.0em 0.0em;
}

/*Calculate Pane*/
#calculatePane{
    -fx-background-color:  linear-gradient(to bottom, #e0e0e0, #dcdcdc, #d7d7d7, #d3d3d3, #cfcfcf, #cdcdcd, #cbcbcb, #c9c9c9, #c8c8c9, #c8c8c8, #c7c7c8, #c7c6c7);
}
#calculatePane:hover{
    -fx-background-color: #D9D9D9;
}
#calculatePane:selected{
    -fx-background-color:  linear-gradient(to bottom, #e0e0e0, #dcdcdc, #d7d7d7, #d3d3d3, #cfcfcf, #cdcdcd, #cbcbcb, #c9c9c9, #c8c8c9, #c8c8c8, #c7c7c8, #c7c6c7 ,grey 90%);
}

/*Convert Pane*/
#convertPane{
    -fx-background-color:  linear-gradient(to bottom, #e0e0e0, #dcdcdc, #d7d7d7, #d3d3d3, #cfcfcf, #cdcdcd, #cbcbcb, #c9c9c9, #c8c8c9, #c8c8c8, #c7c7c8, #c7c6c7);
}
#convertPane:hover{
    -fx-background-color: #D9D9D9;
}
#convertPane:selected{
    -fx-background-color:  linear-gradient(to bottom, #e0e0e0, #dcdcdc, #d7d7d7, #d3d3d3, #cfcfcf, #cdcdcd, #cbcbcb, #c9c9c9, #c8c8c9, #c8c8c8, #c7c7c8, #c7c6c7 ,grey 90%);
}

/*Programmers Calculator Pane */
#logicalOpsPane{
    -fx-background-color:  linear-gradient(to bottom, #e0e0e0, #dcdcdc, #d7d7d7, #d3d3d3, #cfcfcf, #cdcdcd, #cbcbcb, #c9c9c9, #c8c8c9, #c8c8c8, #c7c7c8, #c7c6c7);
}
#logicalOpsPane:hover {
    -fx-background-color: #D9D9D9;
}
#logicalOpsPane:selected {
    -fx-background-color:  linear-gradient(to bottom, #e0e0e0, #dcdcdc, #d7d7d7, #d3d3d3, #cfcfcf, #cdcdcd, #cbcbcb, #c9c9c9, #c8c8c9, #c8c8c8, #c7c7c8, #c7c6c7 ,grey 90%);
}

/*Setting Values of the Root Grid Pane*/
#rootGridPane{
    -fx-background-color:#EDEDED;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

/*Setting values for Text field one in Calculator Tab*/
#TextFieldOne{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-font-family: "Lucida Grande";
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 6 6 6 6 , 5 5 5 5 ,4 4 4 4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
#TextFieldOne:focused ,#TextFieldOne:showing ,#TextFieldOne:selected{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#5a61af, #51536d),
            linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);

}

/*Setting Values for operator Box*/
#operatorBox{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-font-family: "Lucida Grande";
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 6 6 6 6 , 5 5 5 5 ,4 4 4 4;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;

    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

/*Setting values for Text field Two in Calculator Tab*/
#TextFieldTwo{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-font-family: "Lucida Grande";
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 6 6 6 6 , 5 5 5 5 ,4 4 4 4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
#TextFieldTwo:focused ,#TextFieldTwo:showing ,#TextFieldTwo:selected{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#5a61af, #51536d),
            linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);

}

/*Setting values for Text field Result in Calculator Tab*/
#TextFieldRes{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-font-family: "Lucida Grande";
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 6 6 6 6 , 5 5 5 5 ,4 4 4 4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;

}

/*Setting Values For Clear Button*/
#ClearBtn{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-font-family: "Lucida Grande";
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 6 6 6 6 , 5 5 5 5 ,4 4 4 4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
#ClearBtn:hover ,#ClearBtn:showing ,#ClearBtn:selected{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#5a61af, #51536d),
            linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
}

/*Setting Values For Calculate Button*/
#CalculateBtn{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-font-family: "Lucida Grande";
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 6 6 6 6 , 5 5 5 5 ,4 4 4 4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;

}
#CalculateBtn:hover ,#CalculateBtn:showing ,#CalculateBtn:selected{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#5a61af, #51536d),
            linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
}


/*MENU BAR*/
/*Setting the default bg colour for menu pane*/
.menu-bar{
    -fx-background-color:  linear-gradient(to bottom, #e0e0e0, #dcdcdc, #d7d7d7, #d3d3d3, #cfcfcf, #cdcdcd, #cbcbcb, #c9c9c9, #c8c8c9, #c8c8c8, #c7c7c8, #c7c6c7);
}
/*Setting the colour after hovering or selecting a menu button*/
.menu-bar .menu-button:hover,  .menu-bar .menu-button:showing ,.menu-bar .menu-button:selected{
    -fx-background-color: #7793f5,
            linear-gradient(to top,  #7793f5 0%, #406df2 50%, #275af1 100%);
}
/*Setting the context menu for each menu button*/
.context-menu {
    -fx-background-color: #F5F5F5 ;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}
/*Setting value for menu button label*/
#fileMenu .label:hover ,#fileMenu .label:focused{
    -fx-font-family: "Lucida Grande";
    -fx-text-fill: white;
}
/*Setting Value for menu item when hovered and selected*/
.menu-item:focused {
    -fx-background-color: #7793f5,
    linear-gradient(to top,  #7793f5 0%, #406df2 50%, #275af1 100%);
    -fx-background-radius: 6 6 6 6, 5 5 5 5, 4 4 4 4;
}

/*END CALCULATOR TAB*/
